.factsInfoDialog {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.factsInfoDialog input,
.factsInfoDialog p {
    height: 40px;
    padding: 0.5rem;
    font-size: 1rem;
    font-style: italic;
    color: #333;
    margin: 0.5rem 0;
}

.factsInfoPanel {
    padding: 0.5rem;
    background-color: #eee;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #666;
    margin-top: 0.5rem;
}

.factsInfoLogo img {
    width: 30px;
    height: 30px;
    margin: 0.5rem;
}

.factsInfoContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.factsInfoContent p {
    font-size: 0.75rem !important;
    margin: 0;
    padding: 0;
}
