.dropdown {
    margin-right: 0.5rem;
    padding: 0;
    display: inline-block;
}

.dropdownBtn {
    position: relative;
    display: inline-flex;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    border: 1px dotted #ccc;
    background: #FFF;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    margin-left: 0.25rem;
    border-radius: 4px;
}

.dropdownItems {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    background: #FFF;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 1px #ccc;
}

.dropdownItems a {
    padding: 0.5rem 0.25rem;
}

.dropdownItems a + a {
    border-top: 1px solid #eee;
}

.dropdownItems a:hover {
    background: lightblue;
}

.dropdownItems .actionBar {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dotted #ccc;
}

.dropdownItems .actionButton {
    padding: 0.5rem;
}

.prefix {
    color: #bbb;
    border-right: 1px solid #ccc;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}

