.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;
}

.modalDialog {
    position: absolute;
    top: 5%;
    right: 15%;
    left: 22.5%;
    bottom: 15%;
    background-color: #FFF;
    z-index: 50;
    border-radius: 1em;
    padding: 2em;
    width: 650px;
    height: 565px;
}

.modalDialog {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    display: flex;
}

.modalContent {
    order: 1;
    display: flex;
    justify-content: center;
}

.modalFooter {
    order: 2;
    padding-top: 2em;
    text-align: center;
    border-top: 1px solid #eee;
}