.simpleTable {
    margin: 1rem 0;
    border-collapse: collapse;
    width: 100%;
}

.simpleTable tr {
    line-height: 2rem;
    padding: 1rem 0.5rem;
}

.simpleTable tr:hover {
    cursor: pointer;
}

.simpleTable tr:nth-child(even) {
    background-color: #f4f8fb;
}

.simpleTable.noZebra tr:nth-child(even) {
    background-color: none;
}

.simpleTable tr td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.simpleTable th {
    text-align: left;
    padding: 0.5rem;
    margin: 0;
}

.sortableColumn {
    display: inline-flex;
    justify-content: start;
}

.simpleTable td {
    padding: 0.5rem;
    margin: 0;
}

.simpleTable th.rowNumber,
.simpleTable td.rowNumber {
    text-align: right;
    color: #aaa;
    padding-right: 0.5rem;
    width: 30px;
}

.sort-ASCENDING,
.sort-DESCENDING {
    color: #08c;
}

.sort-NONE {
    color: #ccc;
}

.tableHeader {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.pageNav {
    display: flex;
    justify-content: flex-end;
}

.pageNavItem {
    padding: 0 0.5rem;
}

.pageNavItem:not(:first-child) {
    border-left: 1px solid #ccc;
}

.pageNavItem:last-child {
    padding-right: 0;
}

.totalRecords {
    color: #666;
}