html,* {
    font-family: sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #333;
    margin-bottom: 0.75rem;
}

.simpleLink {
    color: #0088cc;
    text-decoration: none;
    margin: 0 0.5rem;
    padding-bottom: 0.15rem;
}

.simpleLink:hover {
    border-bottom: 1px dashed #0088cc;
}

p {
    margin: 0.25em 0;
    padding: 0;
}

strong {
    background: #cef;
    padding: 0.25rem;
    border-radius: 3px;
}

label {
    font-weight: bold;
    font-color: #333;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

.socialShare button,
.refresh {
    line-height: 1.5rem;
    background-color: #006;
    border: 1px solid #006;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}

.mainScene {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
}

.anagramResults {
    flex-grow: 2;
}

.anagramViz {
    flex-grow: 1;
    padding-top: 6rem;
    padding-left: 2rem;
}

/** JSON-Stat Playground */

.actionBar {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    flex-grow: 1;
}

.actionBar .filterStations {
    flex-grow: 1;
    border-right: 1px solid #eee;
}

.actionBar .actionIcons {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
    background-color: #eee;
}

.actionIcon {
    border: none;
    background-color: #eee;
    cursor: pointer;
    padding: 0 0.5rem;
}

.actionIcon + .actionIcon {
    border-left: 1px dashed #ccc;
    margin-left: 0.25rem;
}

.actionIcon:last-of-type {
    padding-right: 0;
    margin-right: 0;
}

.actionIcon i {
    color: #0088cc;
}

.actionIcon i:hover {
    color: #008;
}

.actionIcon.selected i {
    color: #008 !important;
}

.variableSelection {
    padding: 0.25rem 0 0.25rem 0;
}

.socialShare button {

}